<div id="buildPreview">
  <div class="build-preview">
    <div class="width"></div>
    <div class="height"></div>
  </div>
</div>
<div id="svgBackground"></div>
<div id="codingCss" class="building-css"></div>

<template id="cssToBuild">
  <style is:inline>

  </style>
</template>
<style id="cssBuildingContainer" is:inline></style>

<script>
  import {animateBuild} from "./DynamicBuildBackground.js";

  document.addEventListener("DOMContentLoaded", function () {
    animateBuild("cssToBuild", "cssBuildingContainer");
  });
</script>

<style>
  .build-preview {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .build-preview, .build-preview .height, .build-preview .width {
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .build-preview .height {
    border-top: 1px solid var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-bg-secondary);
  }
  .build-preview .width {
    border-left: 1px solid var(--color-bg-secondary);
    border-right: 1px solid var(--color-bg-secondary);
  }

  .building-css {
    width: 25%;
    height: 40rem;
    position: absolute;
    color: var(--color-bg-secondary);
    top: 1.5rem;
    left: 1.5rem;
    font-family: Courier, sans-serif;
  }
</style>

<!-- Global since span are generated via JS -->
<style is:global>
  .building-css span {
    display: block;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>