---
import TitleSeparator from "../../components/TitleSeparator.astro";
import DynamicBuildBacakground from "./DynamicBuildBackground.astro";
---

<DynamicBuildBacakground />

  <section class="main-title">
    <h2 class="in-background giant-title is-centered revert-background">NDG</h2>
    <h1>
      <span>Nicolas</span>
      <span class="last-name">De gheselle</span>
    </h1>
  </section>

<section class="container">
  <hr />
  <div class="grid">
    <div class="col is-auto title-complement-container">
      <h2 class="giant-title">Who</h2><h3 class="title-complement rotate">
        Is that?
      </h3>
    </div>
    <div class="col">
      <div class="card">
        <h2>It is I</h2>
        <p>
          I am a French software engineer. Focusing on creating efficient, maintainable and simple softwares. Always interested in learning new things and perfect my skills !
        </p>
      </div>
    </div>
  </div>

  <hr />

  <div class="grid with-gap">
    <div class="col">
      <div class="card">
        <h3>Simplicity and Elegance</h3>
        <p>
          Create clear and elegant code, implementing complex features in a straightforward manner for maintainability.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h3>Iterative and Agile Approach</h3>
        <p>
          Embrace an iterative and Agile development process to arrive at lasting solutions while meeting client needs effectively.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h3>Leveraging Existing Resources</h3>
        <p>
          Maximize efficiency by utilizing existing tools and knowledge, promoting a global perspective during development.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .title-complement-container {
    margin-right: -4rem;;
  }

  .main-title {
    background-color: var(--color-bg-secondary);
    padding: 8rem 0;
  }
  .main-title h1 {
    margin: 0;
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 14vw;
    line-height: 0.7;
  }
  .main-title .last-name {
    color: var(--color-primary);
  }
  .main-title * {
    transition: 0.3s;
  }
  .main-title .last-name {
    display: block;
  }
</style>
