---
import DynamicBuildBackground from "./DynamicBuildBackground.astro";
---

<section class="main-title-container">

    <DynamicBuildBackground />

    <div class="main-title">
        <h2 class="background">NDG</h2>
        <h1 class="first-name">Nicolas</h1>
        <h1 class="last-name">De gheselle</h1>
    </div>

    <span class="build-in-progress">Coding ...<span class="loader"></span></span>
</section>

<style>
    .main-title-container {
        max-width: 100vw;
        overflow: hidden;
        z-index: 100;
    }

    .main-title {
        position: relative;
    }

    .main-title,
    .main-title * {
        transition: 0.3s;
        white-space: nowrap;
        left: 0;
        top: 0;
        margin: 0;
    }

    .main-title-container .background {
        z-index: 0;
        font-weight: bold;
        position: absolute;
    }
    .main-title .first-name, .main-title .last-name{
        z-index: 10;
        position: absolute;
    }

    .main-title-container.finished .build-in-progress {
        opacity: 0;
    }

    .build-in-progress {
        color: var(--color-midground);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.2rem 0.4rem;
    }

    .build-in-progress .loader {
        margin-left: 0.4rem;
    }
</style>
