<section class="main-title">
    <h2 class="in-background giant-title is-centered revert-background">NDG</h2>
    <h1>
        <span>Nicolas</span>
        <span class="last-name">De gheselle</span>
    </h1>
</section>

<style>
    .main-title {
        background-color: var(--color-bg-secondary);
        padding: 8rem 0;
    }
    .main-title h1 {
        margin: 0;
        position: relative;
        text-align: center;
        font-weight: 700;
        font-size: 14vw;
        line-height: 0.7;
    }
    .main-title .last-name {
        color: var(--color-primary);
    }
    .main-title * {
        transition: 0.3s;
    }
    .main-title .last-name {
        display: block;
    }
</style>
