<section class="main-title">
    <h2 class="in-background giant-title is-centered revert-background">NDG</h2>
    <h1>
        <span>Nicolas</span>
        <span class="last-name">De gheselle</span>
    </h1>
</section>

<style>
    .main-title * {
        transition: 0.3s;
    }
</style>
