<div class="grid with-gutter">
    <div class="col on-sm-is-12">
        <div class="card">
            <h3>Simplicity and Elegance</h3>
            <hr />
            <p>
                Create clear and elegant code, implementing complex features in
                a straightforward manner for maintainability.
            </p>
        </div>
    </div>
    <div class="col on-sm-is-12">
        <div class="card">
            <h3>Iterative and Agile Approach</h3>
            <hr />
            <p>
                Embrace an iterative and Agile development process to arrive at
                lasting solutions while meeting client needs effectively.
            </p>
        </div>
    </div>
    <div class="col on-sm-is-12">
        <div class="card">
            <h3>Leveraging Existing Resources</h3>
            <hr />
            <p>
                Maximize efficiency by utilizing existing tools and knowledge,
                promoting a global perspective during development.
            </p>
        </div>
    </div>
</div>
