<div class="grid with-gap">
  <div class="col is-auto">
    <h2 class="giant-title">Who</h2><h3 class="title-complement rotate">
      Is that?
    </h3>
  </div>
  <div class="col">
    <div class="card">
      <h2>It is I</h2>
      <hr />
      <p>
        I am a French software engineer. Focusing on creating efficient,
        maintainable and simple softwares. Always interested in learning new
        things and perfect my skills !
      </p>
    </div>
  </div>
</div>