<script>
  // Create the books
  // How to do the bookshelf?
</script>

<div class="grid">
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
  <span class="book"></span>
</div>

<style>
  .book {
    display: block;
    width: 200px;
    height: 100px;
    background-color: red;
  }
</style>
