---
import knowledges from "../../content/knowledges.json";
import Knowledges from "./Knowledges.svelte";
import Library from "./Library.svelte";
import Card from "../../components/Card.svelte";
---

<h2 class="giant-title is-overlapping fil-ariane-balise" id="title-what">What?</h2>

<Library client:idle/>

<Knowledges knowledges={knowledges} client:idle />
<div class="grid">
    <div class="col is-6 on-sm-is-12">
        <Card>
            <p>
                This is a non-exhaustive list, a lot of different things are
                omitted that are not my main domain but where I do have some
                expertise. Like for example :
                <ul>
                    <li>Networking / network management</li>
                    <li>Virtualization</li>
                    <li>Cybersecurity</li>
                    <li>Team / project management</li>
                </ul>
            </p>
        </Card>
    </div>
</div>
