body {
    background-color: var(--color-bg);
    font-family: Ubuntu, sans-serif;
    color: var(--color-front);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Teko", sans-serif;
    color: var(--color-front-secondary);
}

p {
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 0.2rem dotted var(--color-bg-secondary);
}

.card {
    text-align: center;
    background-color: var(--color-bg-secondary);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.giant-title {
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-bg-secondary);
    font-size: 15rem;
    line-height: 12rem;
    height: 10rem;
    letter-spacing: -0.8rem;
    margin: 0;
}

.giant-title.revert-background {
    color: var(--color-bg);
    
    user-select: none;
}

.giant-title.in-background {
    position: absolute;
}

.giant-title.is-centered {
    letter-spacing: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.title-complement {
    color: var(--color-bg-secondary);
    margin: 0;
    font-size: 2.5rem;
    height: 3rem;
}

.title-complement.rotate {
    transform: rotate(90deg);
    transform-origin: bottom left;
    margin-top: -3rem;
}