@use "sass:map";

.ml-4 {
    margin-left: 1.5rem !important;
}
.ml-auto {
    margin-left: auto;
}

.d-flex {
    display: flex !important;
}
.d-none {
    display: none !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}


@media (max-width: map.get($grid-breakpoints, md)) {
    .d-md-none {
        display: none !important;
    }
}
  