:root {
    --color-primary: #FF6F61;
    --color-primary-dim: #ff9a90;

    --color-secondary: #C23373;
    --color-secondary-dim: #d86c9c;

    --color-middle: #8D99AE;
}

body[data-theme="light"] {
    --color-bg: #EDF2F4;
    --color-bg-secondary: #dee7ea;
    --color-front-secondary: #4C5075;
    --color-front: #2B2D42;
}

body[data-theme="dark"] {

    --color-primary: #219ebc;
    --color-primary-dim: #104f5e;

    --color-secondary: #83c5be;
    --color-secondary-dim: #346f69;

    --color-bg: #2B2D42;
    --color-bg-secondary: #4C5075;
    --color-front-secondary: #C2D3D9;
    --color-front: #EDF2F4;
}