---
import Search from "./Search.svelte";
import SelectedDefaultDisplay from "./SelectedDefaultDisplay.svelte";
import Card from "../../components/Card.svelte";

import Library from "./_components/Library.svelte";
import Experimentations from "./_components/Experimentations.svelte";
import DesktopSvg from "./desktop.svg?raw";
import HobbiesSvg from "./hobbies.svg?raw";

import skills from "../../content/skills.json";
---

<h2 class="giant-title is-overlapping fil-ariane-balise" id="title-what">
    Me?
</h2>

<div class="grid">
    <div class="col is-6 on-sm-is-12">
        <Card>
            <p class="is-text-centered">
                What I do, what technologies I uses and so on. You can search
                something specific there or just hover and select at your will !
            </p>
            <Search client:idle client:only />
        </Card>
    </div>
</div>

<SelectedDefaultDisplay client:idle />
<div id="me-container">
    <Library knowledges={skills.knowledges} client:idle client:only />
    <div class="svg-container">
        <div class="experimental-container">
            <Experimentations
                client:idle
                experimentations={skills.experimentations}
            />
        </div>
        <div class="desktop-container">
            <Fragment set:html={DesktopSvg} />
        </div>
        <div class="hobby-container">
            <Fragment set:html={HobbiesSvg} />
        </div>
    </div>
</div>

<style is:global lang="scss">
    @import "../../scss/gracile/variables.scss";

    .desktop-container {
        display: flex;
    }

    .desktop-container svg {
        margin-top: auto;
        width: 100%;
        height: auto;
        transform: translateY(-2rem);
    }

    .hobby-container svg {
        width: auto;
        height: 100%;
        transform: translateY(-2rem);
        margin-left: auto;
    }

    .svg-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media screen and (max-width: $breakpoint-md) {
        .svg-container {
            display: block;
        }
    }

    .svg-container .experimental-container {
        grid-column: 2;
        grid-row: 1;
    }

    .svg-container .desktop-container {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .svg-container .hobby-container {
        grid-column: 2;
        grid-row: 2;
    }

    /** Svg variables and selected style **/
    svg {
        --color-back-low: var(--color-background-more-1);
        --color-back: var(--color-background-more-2);
        --color-front-low: var(--color-midground-less);
        --color-front: var(--color-midground);

        --color-primary-low: var(--color-primary-less);
        transition: 0.3s;
    }

    svg .selectable {
        cursor: grab;
    }
    svg .selectable > * {
        transition: 0.3s;
    }

    svg .selectable.is-background.is-active,
    svg .selectable.is-background.is-selected {
        --color-back-low: var(--color-primary);
        --color-back: var(--color-primary-low);
    }

    svg .selectable.is-active,
    svg .selectable.is-search-result {
        --color-front-low: var(--color-primary-low);
        --color-front: var(--color-primary);
    }

    svg .selectable.is-selected {
        --color-front-low: var(--color-primary);
        --color-front: var(--color-primary-low);
    }

    /** Selectable special display container **/
    .selectable-display {
        width: 100%;
        max-width: 24rem;
        left: 50%;
        position: fixed;
        bottom: 0;
        transition: 0.3s;
        z-index: 100;
        transform: translate(-50%, 100%);
    }

    .selectable-display.preview {
        transform: translate(-50%, 65%);
    }
    .selectable-display.full {
        transform: translate(-50%, 10%);
    }

    .selectable-display .background {
        width: 100%;
        max-width: 100vw;
    }

    .selectable-display .content-container {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 100vw;
    }

    .selectable-display .content-container .content {
        margin: 4rem;
        text-align: center;
    }

    @media screen and (max-width: $breakpoint-md) {
        .selectable-display .content-container .content {
            margin: 4rem 2rem;
        }
    }

    .selectable-display .content h1 {
        margin: 0;
    }
    .selectable-display .content hr {
        margin: 0.4rem 5rem;
    }

    /** Parts and Search*/
    .me-tag {
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
        display: inline-block;
        padding: 0 0.4rem;
        text-align: center;
        border: 1px solid var(--color-midground);
        border-radius: 0.2rem;
        background-color: var(--color-background-more-1);
    }

    .search-text {
        transition: 0.3s;
        font-family: Teko;
        font-weight: 300;
        fill: var(--color-midground-more);
        opacity: 0;
    }

    .is-searching .search-text {
        opacity: 1;
    }
</style>
