---
  import Timeline from "./Timeline.astro";
  import { convertToGrid, getDurationText } from "./utils";
  import jobs from "../../content/jobs.json";
  
  const [timelineJobs, totalDuration] = convertToGrid(jobs);
---

<section class="container">
  <h2>Jobs</h2>
  <span>{ getDurationText(totalDuration)}</span>
  <Timeline timelineJobs={timelineJobs}/>
</section>