---
  import Timeline from "./Timeline.astro";
  import { convertToGrid, getDurationText } from "./utils";
  import jobs from "../../content/jobs.json";
  
  const [timelineJobs, totalDuration] = convertToGrid(jobs);
---

<section class="container">
  <Timeline timelineJobs={timelineJobs} />
</section>