<script>
    import { createBackground } from "./SvgDate";
    createBackground();
</script>
<div class="svg-container"></div>
<style is:global>
  .svg-container {
    width: 100%;
  }
  svg text {
    font-weight: bold;
    font-family: "Teko", sans-serif;
    line-height: 0.8;
  }
</style>
