---
import Layout from "../layouts/Layout.astro";

import Presentation from "./_presentation/index.astro";
import Jobs from "./_jobs/index.astro";
import Knowledges from "./_knowledges/index.astro";
---

<script>
  document.getElementById("changeTheme").addEventListener("click", () => {
    document.body.dataset.theme =
      document.body.dataset.theme === "light" ? "dark" : "light";
  });
</script>

<Layout title="Welcome to Astro.">
  <main>
    <button id="changeTheme" class="with-icon">
      <i class="gg-dark-mode"></i>
    </button>

    <Presentation />
    <hr />
    <Jobs />
    <hr />
    <Knowledges />
  </main>
</Layout>

<style>
  #changeTheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

</style>