---
import Layout from "../layouts/Layout.astro";

import Projects from "./_projects/Projects.svelte";
import Jobs from "./_jobs/Jobs.svelte";
import Me from "./_me/index.astro";

import MainTitle from "./_presentation/MainTitle.astro";
import WhoIAm from "./_presentation/WhoIAm.astro";
import Presentation from "./_presentation/Presentation.astro";

import jobs from "../content/jobs.json";
import projects from "../content/projects.json";

import FilAriane from "../components/FilAriane.svelte";
---

<script>
  const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");
  if (darkThemeMq.matches)
  {
    document.body.dataset.theme = "dark";
  }

  document.getElementById("changeTheme").addEventListener("click", () => {
    document.body.dataset.theme =
      document.body.dataset.theme === "light" ? "dark" : "light";
  });
</script>

<Layout title="Nicolas De gheselle">

  <button id="changeTheme" class="with-icon">
    <i class="fa-solid fa-moon"></i>
    <i class="fa-solid fa-sun"></i>
  </button>

  <MainTitle />
  
  <FilAriane client:idle/>

  <main class="container fil-ariane-tracking">
    <WhoIAm />
    <Presentation />
    <Jobs jobs={jobs} client:idle/>
    <Projects projects={projects}/>
    <Me />
  </main>
</Layout>

<style>
  #changeTheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background-color: transparent;
    border: none;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
    color: var(--color-foreground-low);
    cursor: pointer;
  }
  #changeTheme i {
    position: absolute;
    transition: 0.3s;
    transform-origin: bottom center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.4rem;
  }
  body[data-theme="dark"] #changeTheme .fa-moon {
    transform: rotate(180deg);
  }
  body[data-theme="light"] #changeTheme .fa-sun {
    transform: rotate(180deg);
  }

  .part-title {
    color: var(--color-background-secondary);
    text-transform: uppercase;
  }

</style>