---
import Layout from "../layouts/Layout.astro";

import Projects from "./_projects/index.astro";
import Jobs from "./_jobs/index.astro";
import Knowledges from "./_knowledges/index.astro";

import MainTitle from "./_presentation/MainTitle.astro";
import WhoIAm from "./_presentation/WhoIAm.astro";
import Presentation from "./_presentation/Presentation.astro";
---

<script>
  document.getElementById("changeTheme").addEventListener("click", () => {
    document.body.dataset.theme =
      document.body.dataset.theme === "light" ? "dark" : "light";
  });
</script>

<Layout title="Nicolas De gheselle">

  <button id="changeTheme" class="with-icon">
    <i class="fa-solid fa-moon"></i>
    <i class="fa-solid fa-sun"></i>
  </button>

  <MainTitle />
  
  <main class="container">
    <WhoIAm />
    <h2 class="part-title">How I work</h2>
    <Presentation />
    <h2 class="part-title">Experiences</h2>
    <Jobs />
    <h2 class="part-title">Projects</h2>
    <Projects />
    <h2 class="part-title">What I know</h2>
    <Knowledges />
  </main>
</Layout>

<style>
  #changeTheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background-color: transparent;
    border: none;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
    color: var(--color-middle);
  }
  #changeTheme i {
    position: absolute;
    transition: 0.3s;
    transform-origin: bottom center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.4rem;
  }
  body[data-theme="dark"] #changeTheme .fa-moon {
    transform: rotate(180deg);
  }
  body[data-theme="light"] #changeTheme .fa-sun {
    transform: rotate(180deg);
  }

  .part-title {
    color: var(--color-bg-secondary);
    text-transform: uppercase;
  }

</style>