---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <button id="changeTheme" class="with-icon">
      <i class="gg-dark-mode"></i>
    </button>

    <header class="container">
      <h1 class="main-title">
        <span>Nicolas</span>
        <span class="last-name">De gheselle</span>
      </h1>
    </header>
    <section class="container presentation">
      <h2>Who?</h2>
	  <p>Software engineer, focusing on creating efficient, maintainable, comprehensive but most importantly simple software.</p>
      <h2>What do I do?</h2>
    </section>
  </main>
</Layout>

<script>
  document.getElementById("changeTheme").addEventListener("click", () => {
    document.body.dataset.theme =
      document.body.dataset.theme === "light" ? "dark" : "light";
  });
</script>

<style>
  #changeTheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  body{
	font-family: 'Ubuntu', sans-serif;
  }

  h1,
  h2 {
    font-family: "Teko", sans-serif;
  }

  .main-title {
    font-size: 10rem;
    font-weight: 700;
  }
  .main-title span {
    line-height: 0.7;
    display: block;
  }
  .main-title .last-name {
    color: var(--color-primary);
  }

  .presentation {
    background: var(--color-bg-secondary);
    border-left: 0.6rem solid var(--color-primary-dim);
	padding: 0.4rem;
  }

  .presentation h2 {
	color: var(--color-middle);
	/*
	line-height: 0.8;
	margin: 0.4rem;*/
  }
</style>
