---
import Layout from "../layouts/Layout.astro";

import Projects from "./_projects/index.astro";
import Jobs from "./_jobs/index.astro";
import Knowledges from "./_knowledges/index.astro";

import DynamicBuildBackground from "./_presentation/DynamicBuildBackground.astro";
import MainTitle from "./_presentation/MainTitle.astro";
import WhoIAm from "./_presentation/WhoIAm.astro";
import Presentation from "./_presentation/Presentation.astro";
---




<script>
  document.getElementById("changeTheme").addEventListener("click", () => {
    document.body.dataset.theme =
      document.body.dataset.theme === "light" ? "dark" : "light";
  });
</script>

<Layout title="Welcome to Astro.">

  <button id="changeTheme" class="with-icon">
    <i class="gg-dark-mode"></i>
  </button>

  <DynamicBuildBackground />

  <MainTitle />
  <main class="container">
    <hr />
    <WhoIAm />
    

    <hr class="mb-0"/>
    <h2 class="part-title">How I work</h2>
    <Presentation />
    <hr class="mb-0"/>
    <h2 class="part-title">Experiences</h2>
    <Jobs />

    <hr class="mb-0"/>
    <h2 class="part-title">Projects</h2>
    <Projects />

    <hr class="mb-0"/>
    <h2 class="part-title">What I know</h2>
    <Knowledges />
  </main>
</Layout>

<style>
  #changeTheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .part-title {
    color: var(--color-bg-secondary);
    text-transform: uppercase;
  }

</style>