---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <button id="changeTheme" class="with-icon">
      <i class="gg-dark-mode"></i>
    </button>

    <header class="container" data-animated="font color animations">
      <h1 class="main-title animate-build">
        <span>Nicolas</span>
        <span class="last-name">De gheselle</span>
      </h1>
    </header>
    <section class="container card">
      <h2>Who?</h2>
      <p>
        I am a software engineer. Focusing on creating efficient, maintainable,
        comprehensive but most importantly simple software. Always interested in
        learning new things and improving my skills.
      </p>
      <h2>How?</h2>
      <div class="row">
        <div class="one-third column">
          <Card title="Simplicity">
            Embracing simplicity in projects is challenging but rewarding. Efficiency is key; achieving more with less is my priority.
          </Card>
        </div>
        <div class="one-third column">
          <Card title="needs">
            Distinguishing between needs and wants. Striving to meet needs while being mindful of wants.
          </Card>
        </div>
        <div class="one-third column ">
          <Card title="efforts">
            Diligently defining problems and solutions. Embracing multiple attempts for optimal results.
          </Card>
        </div>
      </div>
    </section>
  </main>

  <template> </template>

  <script>
    document.getElementById("changeTheme").addEventListener("click", () => {
      document.body.dataset.theme =
        document.body.dataset.theme === "light" ? "dark" : "light";
    });

    function animateBuild() {
      const elements = document.querySelectorAll(".animate-build");
      elements.forEach((element) => {
        // Add lines around it
        // Add overlay
        // Add different classes
      });
    }
  </script>

  <style>
    #changeTheme {
      position: fixed;
      top: 1rem;
      right: 1rem;
    }
  </style>
</Layout>
