---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<div class="card">
    <h3>{title}</h3>
    <p>
        <slot />
    </p>
</div>

<style>
    .card {
        
    }
</style>