
<div class="grid">
    <span class="test-cube" style="background: var(--color-primary)"></span>
    <span class="test-cube" style="background: var(--color-primary-less)"></span>
    <span class="test-cube" style="background: var(--color-primary-more)"></span>

    <span class="test-cube" style="background: var(--color-secondary)"></span>
    <span class="test-cube" style="background: var(--color-secondary-less)"></span>
    <span class="test-cube" style="background: var(--color-secondary-more)"></span>

    <span class="test-cube" style="background: var(--color-foreground)"></span>
    <span class="test-cube" style="background: var(--color-foreground-less)"></span>

    <span class="test-cube" style="background: var(--color-midground)"></span>
    <span class="test-cube" style="background: var(--color-midground-less)"></span>
    <span class="test-cube" style="background: var(--color-midground-more)"></span>

    <span class="test-cube" style="background: var(--color-background)"></span>
    <span class="test-cube" style="background: var(--color-background-more-1)"></span>
    <span class="test-cube" style="background: var(--color-background-more-2)"></span>
    <span class="test-cube" style="background: var(--color-background-more-3)"></span>
</div>

<style>
    .test-cube {
        display: block;
        width: 1rem;
        height: 1rem;
    }
</style>
