@use "sass:math";

$grid-spacing: 0.6rem;

.container {
    position: relative;
    max-width: $breakpoint-xl;
    margin: 0 auto;
    padding: 0 0.2rem;
}

.grid {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
}

.grid.with-gutter {
    margin: -$grid-spacing;
}

.grid.with-gutter .col {
    padding: $grid-spacing;
}

.col {
    flex: 1 1 0;
    box-sizing: border-box;
}

.col.is-auto {
    flex: 0 0 auto;
}

@for $i from 1 through 12 {
    .col.is-#{$i} {
        flex: 0 0 math.percentage(math.div($i, 12));
    }
}

@media screen and (max-width: $breakpoint-sm) {
    @for $i from 1 through 12 {
        .col.on-sm-is-#{$i} {
            flex: 0 0 math.percentage(math.div($i, 12));
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    @for $i from 1 through 12 {
        .col.on-md-is-#{$i} {
            flex: 0 0 math.percentage(math.div($i, 12));
        }
    }
}