$line-height: 1.2;
$border-radius: 0.05rem;
$border-width : 0.05rem;
$border-width-lg : 0.1rem;
$highlight-color: #ffe9b3 !default;

$unit-2: .4rem !default;
$unit-4: .8rem !default;

// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0.8rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: .8rem;
}

.subtitle {
  color: var(--color-midground);
}

// Paragraphs
p {
  margin: 0 0 $line-height;
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: ink edges;
}

abbr[title] {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

kbd {
  font-size: $font-size-sm;
}

mark {
  border-bottom: $border-width solid var(--color-);
  border-radius: $border-radius;
  padding: $border-width $unit-4 0;
}

// Blockquote
blockquote {
  border-left: $border-width-lg solid var(--color-midground);
  margin-left: 0;
  padding: $unit-2 $unit-4;

  p:last-child {
    margin-bottom: 0;
  }
}

// Lists
ul,
ol {
  margin: $unit-4 0 $unit-4 $unit-4;
  padding: 0;

  ul,
  ol {
    margin: $unit-4 0 $unit-4 $unit-4;
  }

  li {
    margin-top: 0;
    list-style-position: outside;
  }
}

ul {
  list-style: disc inside;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style: decimal inside;

  ol {
    list-style-type: lower-alpha;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: $unit-2 0 $unit-4 0;
  }
}

hr {
  border: 0.1rem dotted var(--color-midground-less);
  border-style: none none dotted; 
  background-color: transparent;
}

.tag, .tag-secondary {
  display: inline-block;
  background: var(--color-background-more-3);
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.tag-secondary {
  background: var(--color-background-more-1);
  color: var(--color-foreground-less);
}