.ml-auto {
    margin-left: auto !important;
}

.is-text-centered {
    text-align: center !important;
}

.d-none {
    display: none !important;
}

.stretch-container
{
    display: flex;
    align-items: stretch;
}