---
import BlankLayout from "@layouts/BlankLayout.astro";
import CV from "./_CV.svelte";

import { languages } from "@i18n/ui";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const cv = await import(`../../../data/${lang}/cv.json`);
---

<BlankLayout title="CV - Nicolas De gheselle">
  <a slot="side-menu" href="./cv/print">
    <i class="fa-solid fa-print"></i>
  </a>
  <a slot="side-menu" href="./cv/json">
    <i class="fa-solid fa-code"></i>
  </a>
  <a slot="side-menu" href="./cv/text">
    <i class="fa-regular fa-file-lines"></i>
  </a>
  <div class="container page">
    <CV client:idle {cv} {lang}/>
  </div>
</BlankLayout>