body[data-theme="dark"] {
    // Core colors
    $primary-color: #867AE9 !default;
    $secondary-color: darken(#FD8A8A, 12%) !default;

    $foreground-color: #FEFCF3 !default;
    $background-color: #222831 !default;
    $midground-color: lighten($background-color, 25%) !default;

    // Create a css variable for each color
    --color-primary: #{$primary-color};
    --color-primary-less: #{darken($primary-color, 10%)};
    --color-primary-more: #{lighten($primary-color, 10%)};

    --color-secondary: #{$secondary-color};
    --color-secondary-less: #{darken($secondary-color, 10%)};
    --color-secondary-more: #{lighten($secondary-color, 10%)};

    --color-foreground: #{$foreground-color};
    --color-foreground-less: #{darken($foreground-color, 10%)};
    --color-foreground-more: #{lighten($foreground-color, 10%)};

    --color-midground: #{$midground-color};
    --color-midground-less: #{darken($midground-color, 10%)};
    --color-midground-more: #{lighten($midground-color, 10%)};

    --color-background: #{$background-color};
    --color-background-less: #{darken($background-color, 2%)};
    --color-background-more: #{lighten($background-color, 5%)};
}