h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Teko", sans-serif;
    color: var(--color-front-secondary);
}

.giant-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-gray-light);
    font-weight: bold;
    font-size: 10vw;
    line-height: 0.8;
    margin: 0;
}

.giant-title.is-overlapping {
    transform: translateY(40%);
}