---
import "../scss/styles.scss";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="images/favicon.ico" sizes="any" />

		<script
			src="https://kit.fontawesome.com/81bbd31b5a.js"
			crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&family=Ubuntu&display=swap"
			rel="stylesheet"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-theme="light">
		<slot />
	</body>
</html>
