<footer class="grid">
    <div class="footer-content">
        
    <span>
        <a href="https://www.linkedin.com/in/nicolas-de-gheselle-1437a1167/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/ndegheselle"><i class="fa-brands fa-github"></i></a>
        <a href="https://profile.indeed.com/p/nicolasd-0srnfwm" title="CV"><i class="fa-regular fa-file"></i></i></a>
    </span>
    <p>
        Made with love by myself <i class="fa-regular fa-heart"></i>
    </p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--color-bg-secondary);
        height: 10rem;
        margin-top: 2rem;
    }
    .footer-content {
        text-align: center;
    }

    .footer-content a {
        color: var(--color-middle);
        font-size: 1.6rem;
    }

    .footer-content p {
        color: var(--color-middle);
    }
</style>