---
import "skeleton-css/css/skeleton.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link href="https://css.gg/css?=|dark-mode" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;700&family=Ubuntu&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-theme="light">
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--color-primary: #FF5748;
    	--color-primary-dim: #FF8D83;
	}

	body[data-theme="light"] {
    	--color-bg: #EDF2F4;
    	--color-bg-secondary: #C2D3D9;
    	--color-middle: #8D99AE;
    	--color-front-secondary: #4C5075;
    	--color-front: #2B2D42;
	}

	body[data-theme="dark"] {
		--color-bg: #2B2D42;
    	--color-bg-secondary: #4C5075;
    	--color-middle: #8D99AE;
    	--color-front-secondary: #C2D3D9;
    	--color-front: #EDF2F4;
	}

	button.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		padding: 0;
		font-size: 2.5rem;
	}
</style>
